<html>
  <head>
    <meta charset="utf-8" />
    <title>Auth0 Example</title>
  </head>
  <script>
    window.addEventListener('load', function(event) {
      // var testCookie = document.cookie.match(/^(.*;)?\s*session\s*=\s*[^;]+(.*)?$/)
      console.log('testCookie', document.cookie.indexOf('userInfo'));
      document.cookie.indexOf('userInfo') > -1 ? window.location.href('http://localhost://127.0.0.1:5137') :""
      // if(session.userinfo)
  });
  </script>
  <body>
    {% if session %}
    <h1>Welcome {{session.userinfo.name}}!</h1>
    <p><a href="/logout" id="qsLogoutBtn">Logout</a></p>
    <div><pre>{{pretty}}</pre></div>
    {% else %}
    <h1 id="profileDropDown">Welcome Guest</h1>
    <p><a href="/login" id="qsLoginBtn">Login</a></p>
    {% endif %}
  </body>
</html>
