.Footer {
   color: #000000;
   background-color: #ffffff;
   border-top: 1px solid #000000 ;
    height: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    &__text {
        font-size: 1em;
        font-weight: 600;
    }
    &__icon {
        height: 35px;
        margin: 0 0.6em;
    }
}