.Footer {
    background-color: #000000;
    color: #ffffff;
    border-top: 1px solid #000000 ;
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    bottom: 0;
    position: relative;
    &__text {
        font-size: 1em;
        font-weight: 600;
    }
    &__icon {
        height: 35px;
        margin: 0 0.6em;
    }
}