@import '../../assets/styles/base.scss';
.Experience {
    color: #000000;
    padding: 5.5em 10em;
    &__img {
        height: 400px;
        width: auto;
        padding-bottom: 2em;
    }
    &__title {
        font-size: 2em;
        font-weight: 600;
        text-transform: capitalize;
        padding-bottom: 1em;
    }
    &__date {
        font-size: 1em;
        padding-bottom: 1em;
    }
    &__desc {
        font-size: 1.1em;
        font-weight: 400;
        padding-bottom: 1em;
    }
    @include mobile {
        padding: 3em;    
    }
}